<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint binding="basicHttpBinding" address="http://localhost/" contract="Seterlund.Wcf.UnitTests.ServiceProxyBuilderTests+IComplexServiceContract">
      </endpoint>
      <endpoint binding="basicHttpBinding" address="http://localhost/" contract="Seterlund.Wcf.UnitTests.IService">
      </endpoint>
      <endpoint binding="ws2007FederationHttpBinding" address="http://localhost/" contract="Seterlund.Wcf.UnitTests.IFederatedService" bindingConfiguration="ServiceFed" name="wsFed">
      </endpoint>
    </client>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="ServiceFed" >
          <security mode="None">
            <message issuedKeyType="SymmetricKey" issuedTokenType ="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1" >
              <!-- Endpoint address and binding for Security Token Service -->
              <issuer address ="http://localhost:8000/sts/windows" binding="ws2007HttpBinding" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>